* {
	transition: none !important;
}

:root {
	--grid-maxWidth: 800px;
	--color-primary: #4a8a00;
	padding-bottom: 3rem;
	-moz-tab-size: 4;
	tab-size: 4;
}

code {
	color: var(--color-darkGrey);
}

h1 {
	background: #4a8a00;
	padding: 1em;
	margin-top: 0;
	text-align: center;
}

h1 a {
	color: white;
}

label {
	display: flex;
	align-items: center;
}

label span {
	margin-right: .5em;
	font-size: 1.7em;
	font-weight: bold;
}
